name: Check and Test Python Project

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 1 # latest only

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: |
            pyproject.toml
            uv.lock

      - name: Run Ruff
        run: |
          uv run --frozen ruff format --check
          uv run --frozen ruff check --no-fix --output-format=github

      # - name: Run pytest unittests
      #   run: |
      #     uv run --frozen pytest tests/ \
      #       --cov \
      #       --cov-report=term-missing \
      #       --cov-report=xml:coverage.xml

      - uses: pre-commit/action@v3.0.1

      # # for SonarQube coverage report
      # - uses: SonarSource/sonarqube-scan-action@v7
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
